<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">
        
        <header>
            <img src="/images/envision.png" width="400px" style="max-width: 100%;">
            <!-- <h2>UBC Envision</h2> -->
        </header>
        <p>Solving the problems of tomorrow. <strong>Today.</strong></p>
        <footer>
            <p><strong>A UBC Engineering Design Team</strong></p>
<!--             <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul> -->
        </footer>

    </div>

</section>